.formulario-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -11.1%;
}
.login-logo img{
    position: absolute;
    width: 15%;
    margin-top: 2%;
    background: #fcc512 ;
    border-radius: 4.5rem;
    padding: 2%;
}
 /*  #710002,#b80f12,#351113,#cc8324,#fcc512   */
.login-form-1{
    padding: 9%;
    background:#710002;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fcc512;
}
#centralizarBotoes{
    margin-top: 3%;
    text-align: center;
}
#centralizarBotoes1{
    margin-top: 19%;
    text-align: center;
}
.login-form-2{
    padding: 9%;
    background:  #cc8324;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #710002;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color:#cc8324;
    background-color: #710002;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnSubmit1{
    font-weight: 600;
    width: 50%;
    color: #710002;
    background-color: #cc8324;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}
.form-group{
    padding:1%;
}





